*{
    margin:0;
    padding: 0;
    }

body{
    width:1500px;
    height: 1200px;
    display: grid;
    justify-content: center;
    align-content: fit-content;
    grid-template-columns: 100%;
    grid-template-rows: 10% 45% 36% 9%;
}

nav{
    grid-row: 1;
    grid-column: 1;
}

article{
    grid-row: 2;
    grid-column: 1;
    border: 1px solid;    
}

section{
    grid-row: 3;
    grid-column: 1;
    border: 1px solid;
}

footer{
    grid-row: 4;
    grid-column: 1;
    background-color: gray;
    text-align: center;
    color: white;
}

#footText{
    color: white;
    column-count: 3;
    column-gap: 5px;
}
